<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.js"></script>



    <meta charset="UTF-8">
    <title>统计</title>
</head>

<body>

<div id="div1">
<table border="1" id="sumtable">
    <tr>
        <td>
        </td>
        <td>工程技术人员</td>
        <td>管理人员</td>
        <td>间接生产工人</td>
        <td>直接生产工人</td>
        <td>总计</td>
    </tr>
    {% for bean in beanList %}
        <tr>
            <td>{{ bean.deptName }}</td>
            <td>{{ bean.gc }}</td>
            <td>{{ bean.gl }}</td>
            <td>{{ bean.jj }}</td>
            <td>{{ bean.zj }}</td>
            <td>{{ bean.zongji }}</td>
        </tr>
    {% endfor %}
</table>
</div>
<input type="button" name="back" value="返回" onclick="javascript:history.back(-1);"/></td>
</html>